<% include ../partials/head %>
<% include ../partials/header %>
<main class="main">
    <h1 class="teams">All CSGO pro teams</h1>
    <div class="list"></div>
</main>

<template id="teamTemplate">
    <section class="team">
            <h2 class="team__name">Team Name</h2>
            <p class="team__Player-name">Player Name</p>
            <p class="team__Player-startDate">2016-01-18T00:00:00</p>
            <p class="team__Player-endDate"></p>
            <p class="team__Player-teamArea">Player Name</p>
    </section>
</template>
<script src="/assets/javascript/data.js"></script>
<% include ../partials/after-footer %>