<% include ../partials/head %>
<% include ../partials/header %>
<main class="main">
    <p class="test">Hello World!</p>
    <div class="list"></div>
</main>

<template id="teamTemplate">
    <section class="team">
            <h2 class="team__name">Team Name</h2>
            <p class="team__Player-name">Player Name</p>
            <p class="team__Player-startDate">2016-01-18T00:00:00</p>
            <p class="team__Player-endDate"></p>
            <p class="team__Player-teamArea">Player Name</p>
    </section>
</template>
<% include ../partials/after-footer %>