<% include ../partials/head %> <% include ../partials/header %>
<main class="main">
    <h1 class="team__name"></h1>
    <button class="sub"></button>
    <p class="Loading">Loading...</p>
  <section class="teamPlayers"></section>
</main>
<script src="/assets/javascript/singleTeam.js"></script>
<% include ../partials/after-footer %>
