@import "base";
body {
  background: #5a5a5a;
  color: white;
}

.main {
  margin-top: 6rem;
  // display: flex;
  // flex-direction: column;
}

.teams {
  text-align: center;
}

.North,
.Heroic,
.Astralis {
  order: -2;
}

.OG,
.tRICKEDeSport,
.MADLions,
.AGFEsport,
.AmbushEsport,
.Singularity {
  order: -1;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.team {
  border: solid 1px #6a6a6a;
  background: #6a6a6a;
  padding: 5px;
  margin: 20px;
  // width: calc(100vw - 80%);
  width: 20em;
  display: flex;
  align-items: center;
  &__a {
    color: white;
    text-decoration: none;
    font-weight: 800;
  }
  &__placeholder {
    background: rgb(177, 177, 177);
    padding: 5px;
    border-radius: 50%;
    height: 50px;
    margin-right: 30px;
  }
}
